<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>  
    <table style="width: 100%">
        <tr>
            <th>Name</th>
            <th>Phone_Number</th>
            <th>Date_of_birth</th>
        </tr>
        
        {% for student in student %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.phone_number}}</td>
            <td>{{student.date_of_birth}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>